@font-face {
    font-family: 'iconfont';  /* project id 1339260 */
    src: url('http://at.alicdn.com/t/font_1339260_47zzen3hnze.eot');
    src: url('http://at.alicdn.com/t/font_1339260_47zzen3hnze.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_1339260_47zzen3hnze.woff2') format('woff2'),
    url('http://at.alicdn.com/t/font_1339260_47zzen3hnze.woff') format('woff'),
    url('http://at.alicdn.com/t/font_1339260_47zzen3hnze.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_1339260_47zzen3hnze.svg#iconfont') format('svg');
  }
  .iconfont {
    font-size: 14px;
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}